<!-- Project Ionic page-turner container -->
<div class="container">
  <!-- Note: mindstorm-date-logo helps keep image logo & title centered -->
  <div class="date">
    <!-- <div class="mindstorm-logo-title"> -->
    <!-- <img
        src="../../../assets/images/mindstorm-logo.png"
        width="150"
        height="150"
      /> -->
    <h1>
      Project Ionic Page-Turner
    </h1>
    <!-- </div> -->
  </div>
  <!-- Project description & GitHub repos -->
  <div class="about">
    <p>
      <span>Completed within February 2019</span>
      <br />
      <br />
      {{ ionic }}
      <br />
      <br />
      <a href="https://github.com/Kyrune/Ionic-4-L05">
        Go to Project's GitHub Repo
      </a>
    </p>
  </div>

  <div class="images">
    <div class="image-one">
      <img class="kierr-img" src="../../../assets/images/Kierr.png" />
    </div>
    <div class="image-two">
      <img class="kierr-toc" src="../../../assets/images/Kierr-toc.png" />
    </div>
  </div>
</div>
