<!-- Project Ionic page-turner container -->
<div class="container">
  <!-- Note: mindstorm-date-logo helps keep image logo & title centered -->
  <div class="date">
    <!-- <div class="mindstorm-logo-title"> -->
    <!-- <img
        src="../../../assets/images/mindstorm-logo.png"
        width="150"
        height="150"
      /> -->
    <h1>
      Project Ionic Page-Turner
    </h1>
    <!-- </div> -->
  </div>
  <!-- Project description & GitHub repo link -->
  <div class="about">
    <p>
      <span>Completed within February 2019</span>
      <br />
      {{ ionic }}
      <br />
      <br />
      <a href="https://github.com/Kyrune/Ionic-4-L05">
        Ionic Page-Turner GitHub Repo
      </a>
    </p>
  </div>

  <!-- Page-turner images -->
  <div class="images">
    <img width="308.5" height="456" src="../../../assets/images/Kierr.png" />
    <img
      width="307"
      height="454.5"
      src="../../../assets/images/Kierr-toc.png"
    />
  </div>
</div>
