<!-- Intro -->
<h1>My List of Projects</h1>
<!-- Main Projects page -->
<div class="container">
  <!-- Project1 container -->
  <div class="outer-div">
    <!-- Link to project1 page -->
    <a class="title" routerLink="project1">
      Project MindStorm
    </a>
    <!-- Project link (to project1 page) & image container -->
    <div class="inner-div">
      <a routerLink="project1">
        <img
          src="../../../assets/images/mindstorm-logo.png"
          width="200"
          height="200"
          alt="MindStorm Logo"
        />
      </a>
    </div>
  </div>

  <!-- Project3 container -->
  <div class="outer-div">
    <!-- Link to project3 page -->
    <a class="title" routerLink="project3">
      My Portfolio Project
    </a>
    <div class="inner-div">
      <a routerLink="project3">
        <img
          src="../../../assets/images/logo.png"
          width="200"
          height="200"
          alt="Portfolio Logo"
        />
      </a>
    </div>
  </div>

  <!-- Project2 container -->
  <div class="outer-div">
    <!-- Link to project2 page -->
    <a class="title" routerLink="project2">
      Ionic Page-Turner
    </a>
    <!-- Project link (to project2 page) & image container -->
    <div class="inner-div">
      <a routerLink="project2">
        <img
          src="../../../assets/images/eye.png"
          width="200"
          height="200"
          alt="Kierr'rocka's Eye"
        />
      </a>
    </div>
  </div>
</div>
