<div class="container">
  <a href="https://github.com/Kyrune">Check out my GitHub!</a>
  <br />
  <div class="mindstorm-container">
    <div class="mindstorm-date-logo">
      <div class="mindstorm-logo-title">
        <img
          src="../../assets/images/mindstorm-logo.png"
          width="150"
          height="150"
        />
        <h1>
          Project Mindstorm
        </h1>
      </div>
      <span class="spacer"></span>
      <h4>April 2019 - June 2019</h4>
    </div>
    <p>
      {{ mindstorm }}
    </p>
    <div class="mindstorm-img">
      <!-- <span class="space"></span> -->
      <img class="team-img" src="../../assets/images/mindstorm-team.jpg" />
    </div>
  </div>
</div>
