/* Under construction */
@media screen and (max-width: 950px) {
  .mindstorm-date-logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
/* Positions main GitHub link container */
.git-link {
  display: flex;
  justify-content: center;
  margin: 3rem;
}
/* GitHub anchor link */
.git-link a {
  padding: 1rem;
  font-size: 2rem;
  text-decoration: none;
  border-radius: 20px;
  color: rgb(110, 214, 248);
  background-color: rgb(12, 13, 14);
  box-shadow: inset 0 0 15px rgb(110, 214, 248);
}
/* Hover effect for GitHub link */
.git-link a:hover {
  color: rgb(33, 38, 39);
  background-color: rgb(110, 214, 248);
  box-shadow: 0px 0px 20px rgb(110, 214, 248);
}
/* Project MindStorm container */
.mindstorm-container {
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 70%;
  margin: auto;
  padding-bottom: 2rem;
  border-radius: 20px;
  color: rgb(110, 214, 248);
  background-color: rgba(12, 13, 14, 0.85);
  box-shadow: inset 0 0 20px rgb(247, 238, 211);
}
/* MindStorm title and image container */
.mindstorm-logo-title {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 4rem;
}
/* Mindstorm h1 container */
.mindstorm-title {
  font-family: 'Merienda', cursive;
}
/* MindStorm project title container */
.mindstorm-about {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 4rem;
}
/* Paragraph for MindStorm description */
.mindstorm-about p {
  width: 50%;
  padding: 1.5rem;
  border-radius: 30px;
  color: rgb(110, 214, 248);
  background-color: rgb(12, 13, 14);
  box-shadow: inset 0 0 20px rgb(110, 214, 248);
}
/* Links to MindStorm's front and backend repos */
.mindstorm-about a {
  font-size: 1.5rem;
  color: rgb(110, 214, 248);
}
/* Hover effect for MindStorm front and backend repo links */
.mindstorm-about a:hover {
  text-decoration: none;
  border-radius: 20px;
  color: rgb(33, 38, 39);
  background-color: rgb(110, 214, 248);
  box-shadow: 0px 0px 20px rgb(110, 214, 248);
}
/* MindStorm Team and image container */
.mindstorm-team-img {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
  margin: auto;
  margin-top: 1.5rem;
  text-align: center;
  border-radius: 30px;
  background-color: rgb(12, 13, 14);
  box-shadow: inset 0 0 20px rgb(110, 214, 248);
}
/* Team members paragraph */
.mindstorm-team-img p {
  margin: -0.5rem;
}
/* MindStorm Team page image container */
.mindstorm-img {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  margin-right: 2rem;
  margin-left: 2rem;
  margin-bottom: 2rem;
}
/* MindStorm team page image */
.team-img {
  max-width: 100%;
  height: auto;
}
