<!-- Link to GitHub -->
<div class="git-link">
  <a href="https://github.com/Kyrune">Check out my GitHub!</a>
</div>
<!-- Project MindStorm container -->
<div class="mindstorm-container">
  <!-- Note: mindstorm-date-logo helps keep image logo & title centered -->
  <div class="mindstorm-date-logo">
    <div class="mindstorm-logo-title">
      <img
        src="../../assets/images/mindstorm-logo.png"
        width="150"
        height="150"
      />
      <h1 class="mindstorm-title">
        Project Mindstorm
      </h1>
    </div>
  </div>
  <!-- MindStorm description & GitHub repos container -->
  <div class="mindstorm-about">
    <p>
      <span>April 2019 - June 2019</span>
      <br />
      <br />
      {{ mindstorm }}
      <br />
      <br />
      <a
        href="https://github.com/bethel-school-of-technology/mindstorm-frontend"
      >
        Go to Frontend GitHub Repo
      </a>
      <br />
      <a
        href="https://github.com/bethel-school-of-technology/mindstorm-backend"
      >
        Go to Backend GitHub Repo
      </a>
    </p>
  </div>
  <!-- Team & team image container -->
  <div class="mindstorm-team-img">
    <h2>Meet Team Syntax Cyborgs!</h2>
    <p>
      Jacob L. Santos <br />
      Maria Ziemer <br />
      Octavio Cortez <br />
      Martins Siksnis
    </p>
    <div class="mindstorm-img">
      <img class="team-img" src="../../assets/images/mindstorm-team.jpg" />
    </div>
  </div>
</div>
