/* Main container */
.container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 66%;
  padding-bottom: 2rem;
  margin: auto;
  margin-bottom: 4rem;
  border-radius: 30px;
  color: rgb(110, 214, 248);
  background-color: rgba(12, 13, 14, 0.85);
  box-shadow: inset 0 0 20px rgb(247, 238, 211);
}
/* Project's title & image container */
.logo-title {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 4rem;
}
/* h1 title with Project's font */
.mindstorm-logo-title h1 {
  font-family: 'Merienda', cursive;
}
/* Paragraph for Project description */
.about p {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 70%;
  padding: 1.5rem;
  margin: auto;
  margin-top: 4rem;
  border-radius: 30px;
  color: rgb(110, 214, 248);
  background-color: rgb(12, 13, 14);
  box-shadow: inset 0 0 20px rgb(110, 214, 248);
}
/* Links to Project's front & backend repos */
.about a {
  font-size: 1.6rem;
  padding-right: 1rem;
  padding-left: 1rem;
  color: rgb(110, 214, 248);
}
/* Hover effect for front & backend repo links */
.about a:hover {
  text-decoration: none;
  border-radius: 20px;
  color: rgb(33, 38, 39);
  background-color: rgb(110, 214, 248);
  box-shadow: 0px 0px 20px rgb(110, 214, 248);
}
/* Team & image container */
.team-img {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 75%;
  margin: auto;
  margin-top: 1rem;
  border-radius: 30px;
  background-color: rgb(12, 13, 14);
  box-shadow: inset 0 0 20px rgb(110, 214, 248);
}
/* Team members paragraph */
.team-img p {
  margin: -0.5rem;
}
/* Team page image container */
/* .image {
  display: flex;
  justify-content: center;
  margin: 1rem;
} */
/* Team page image */
/* .image img {
  max-width: 100%;
  height: auto;
} */

/* Gallery styling */
ngx-gallery {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

ngx-gallery /deep/ ngx-gallery-image .ngx-gallery-arrow {
  border-radius: 50%;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.9);
}

/* Media query for screens 1170px & smaller */
@media screen and (max-width: 1170px) {
  .container {
    width: 100%;
  }
  .about p {
    width: 75%;
  }
  .team-img {
    width: 80%;
  }
}
/* Media query for screens 500px & smaller */
@media screen and (max-width: 500px) {
  .about {
    margin-top: 5rem;
  }
  .logo-title h1 {
    margin-top: -1rem;
  }
  .team-img {
    width: 90%;
  }
}
