<!-- Project MindStorm container -->
<div class="container">
  <!-- Note: mindstorm-date-logo helps keep image logo & title centered -->
  <div class="date-logo">
    <div class="logo-title">
      <img
        src="../../../assets/images/mindstorm-logo.png"
        width="150"
        height="150"
        alt="MindStorm Logo"
      />
      <h1>
        Project Mindstorm
      </h1>
    </div>
  </div>
  <!-- Project description & GitHub repos container -->
  <div class="about">
    <p>
      <span>April 2019 - June 2019</span>
      <br />
      {{ mindstorm }}
      <br />
      <br />
      <a
        target="_blank"
        href="https://github.com/bethel-school-of-technology/mindstorm-frontend"
      >
        Frontend GitHub Repo
      </a>
      <a
        target="_blank"
        href="https://github.com/bethel-school-of-technology/mindstorm-backend"
      >
        Backend GitHub Repo
      </a>
    </p>
  </div>
  <!-- Team & team image container -->
  <div class="team-img">
    <h2>Meet Team Syntax Cyborgs!</h2>
    <p>
      Jacob L. Santos <br />
      Maria Ziemer (me!) <br />
      Octavio Cortez <br />
      Martins Siksnis
      <br />
      <br />
      (Image logos for Syntax Cyborgs and MindStorm were created by Maria
      Ziemer)
    </p>
    <div class="image">
      <img src="../../../assets/images/mindstorm-team.png" />
    </div>
  </div>
</div>
