<!-- Navbar component -->
<nav>
  <!-- <i class="fa fa-navicon"></i> -->
  <h1>
    <span>———————</span>
    {{ title }} Portfolio Page!
    <span>———————</span>
  </h1>

  <div class="links">
    <div class="base-links">
      <a routerLink="home" routerLinkActive="active">
        <i class="fa fa-home"></i>
        Home
      </a>
      <a routerLink="skills" routerLinkActive="active">
        <i class="fa fa-sitemap"></i>
        <!-- <i class="fa fa-puzzle-piece"></i> -->
        Skills
      </a>
      <a routerLink="projects" routerLinkActive="active">
        <i class="fa fa-folder-open"></i>
        Projects
      </a>
    </div>

    <div class="out-links">
      <a
        class="linkedIn"
        target="_blank"
        href="https://www.linkedin.com/in/maria-ziemer-780178156/"
      >
        LinkedIn
      </a>
      <a class="gitHub" target="_blank" href="https://github.com/Kyrune">
        GitHub
      </a>
    </div>
  </div>
</nav>
