<div class="home">
  <div class="about">
    <!-- Author's image -->
    <div class="image">
      <img src="../assets/images/mjz.jpg" alt="Maria's Picture" />
    </div>
    <!-- About the author -->
    <p>
      <span><h2>Welcome to my Portfolio!</h2></span>
      <span><h3>A Little About Me</h3></span>
      <span>{{ aboutMe }}</span>
      <!-- Link to About page -->
      <!-- Todo: enable About link when page is finished -->
      <!-- <a routerLink="about" routerLinkActive="active" class="more">More...</a>
      <br /> -->
      <!-- <br /> -->
    </p>
  </div>
</div>
