<!-- Project Page-Turner container -->
<div class="container">
  <h1>
    Project Ionic Page-Turner
  </h1>
  <!-- Page-Turner description & GitHub repo link -->
  <div class="about">
    <p>
      <span>Completed within February 2019</span>
      <br />
      <!-- Description -->
      <span>{{ ionic }}</span>
      <br />
      <!-- List of tech used in Project -->
      <span>Technology used — {{ tech }}.</span>
      <br />
      <!-- Link -->
      <a target="_blank" href="https://github.com/Kyrune/Ionic-4-L05">
        Ionic Page-Turner GitHub Repo
      </a>
    </p>
  </div>
  <!-- Page-Turner images -->
  <div class="images">
    <img
      width="348.5"
      height="496"
      src="./assets/images/Kierr.jpg"
      alt="Front Page"
    />
    <img
      width="347"
      height="494.5"
      src="./assets/images/Kierr-toc.png"
      alt="Table of Contents Page"
    />
  </div>
</div>
