<div>
  <h1>Coding Skills</h1>
  <div class="container">
    <h4>HTML</h4>
    <h4>CSS</h4>
    <h4>JavaScript</h4>
    <h4>Flexbox</h4>
    <h4>Angular</h4>
    <h4>TypeScript</h4>
    <h4>Express</h4>
    <h4>Node.js</h4>
    <h4>MongoDB</h4>
    <h4>mLab</h4>
    <h4>NPM</h4>
    <h4>SQL</h4>
    <h4>NoSQL</h4>
    <h4>AJAX</h4>
    <h4>jQuery</h4>
    <h4>Bootstrap</h4>
    <h4>JSON</h4>
    <h4>Es6</h4>
    <h4>Passport</h4>
    <h4>VS Code</h4>
    <h4>GitHub</h4>
    <h4>Git</h4>
    <h4>Ionic</h4>
    <h4>Cordova</h4>
    <h4>React</h4>
  </div>
  <h2>Misc Skills</h2>
  <div class="container">
    <h4>Writing</h4>
    <h4>Editing</h4>
    <h4>Photoshop</h4>
  </div>
</div>
