<!-- Portfolio Project container -->
<div class="container">
  <!-- Project title -->
  <h1>
    My Portfolio Project
  </h1>
  <!-- Portfolio description & GitHub repo link -->
  <div class="about">
    <p>
      <span>June 2019 — current</span>
      <br />
      <!-- Description -->
      <span>{{ portfolio }}</span>
      <br />
      <!-- List of tech used in Project -->
      <span>Technology used — {{ tech }}.</span>
      <br />
      <!-- Link -->
      <a target="_blank" href="https://github.com/Kyrune/Portfolio-Project">
        Portfolio GitHub Repo
      </a>
      <br />
      <!-- Royal Branding description & link -->
      <span>{{ royal }}</span>
      <span>\/</span>
      <a target="_blank" href="http://royalbranding270.com/">
        royalbranding270.com
      </a>
    </p>
  </div>
  <!-- Portfolio Home page image -->
  <div>
    <img
      src="./assets/images/portfolio.jpg"
      width="646"
      height="433.5"
      alt="Portfolio Home Page"
    />
  </div>
</div>
