<div class="home">
  <div class="about">
    <!-- Maria's image -->
    <div class="image">
      <img src="../assets/images/maria.jpg" />
    </div>
    <!-- About me -->
    <p>
      <span>About Me</span>
      <br />
      {{ aboutMe }}
      <!-- Link to About page -->
      <a routerLink="about" routerLinkActive="active" class="more">More...</a>
      <br />
      <br />
    </p>
    <!-- Link to LinkedIn profile -->
    <a
      class="linked"
      target="_blank"
      href="https://www.linkedin.com/in/maria-ziemer-780178156/"
    >
      Check out my LinkedIn Profile!
    </a>
  </div>
</div>
