<div class="home">
  <div class="about">
    <!-- Author's image -->
    <div class="image">
      <img src="../assets/images/mjz.jpg" />
    </div>
    <!-- About the author -->
    <p>
      <span>About Me</span>
      <br />
      <br />
      {{ aboutMe }}
      <!-- Link to About page -->
      <!-- Todo: enable About link when page is finished -->
      <!-- <a routerLink="about" routerLinkActive="active" class="more">More...</a>
      <br /> -->
      <!-- <br /> -->
    </p>
  </div>
</div>
