<div class="home">
  <div class="city-image">
    <div class="image">
      <img src="../assets/images/maria.jpg" />
    </div>
    <span class="spacer"></span>
    <div class="h3-city">
      <h3>
        Where I live: <br />
        {{ city }}
      </h3>
    </div>
  </div>
  <div class="tagline">
    <img
      class="front-image"
      src="../assets/images/Azur-drawn.jpg"
      width="577"
      height="424"
    />
    <img
      class="back-image"
      src="../assets/images/Azurtwal.jpg"
      width="577"
      height="424"
    />
  </div>
  <p>
    <span>About Me</span><br />
    {{ aboutMe }}
  </p>
</div>
